.container
  padding-top: 10rem
  display: flex
  flex-wrap: wrap

  .container

  article:nth-child(10n + 1) 
    background-color: green

  article:nth-child(10n + 2) 
    background-color: red
  
  article:nth-child(10n + 3) 
    background-color: purple
  
  article:nth-child(10n + 4) 
    background-color: blue

  article:nth-child(10n + 5) 
    background-color: yellow
  
  article:nth-child(10n + 6) 
    background-color: violet

  article:nth-child(10n + 7) 
    background-color: black

  article:nth-child(10n + 8) 
    background-color: brown

  article:nth-child(10n + 9) 
    background-color: #a9c034
  
  article:nth-child(10n + 10) 
    background-color: #18a08e
